.carousel-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.carousel {
  width: 60%;
  height: auto;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
}
.carousel-image {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s, z-index 0.5s;
}

.next-btn,
.prev-btn {
  position: absolute;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
  cursor: pointer;
}

.prev-btn {
  left: 5%;
}
.next-btn {
  right: 5%;
}

.initial,
.active {
  z-index: 30;
  opacity: 1;
  position: relative;
}
.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
  opacity: 1;
  z-index: 10;
}
.next {
  transform: translateX(100%); /* Move 'next' item to the right */
  opacity: 1;
  z-index: 10;
}
