.carousel-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.carousel {
  width: 60%;
  height: auto;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
}
.carousel-image {
  user-select: none;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s, z-index 0.5s;
}

.next-btn,
.prev-btn {
  position: absolute;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 0;
  border-radius: 50%;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-btn {
  left: 15%;
}
.next-btn {
  right: 15%;
}

.initial,
.active {
  z-index: 30;
  opacity: 1;
  position: relative;
}
.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
  opacity: 1;
  z-index: 10;
}
.next {
  transform: translateX(100%); /* Move 'next' item to the right */
  opacity: 1;
  z-index: 10;
}
.tab-list {
  margin-top: 20px;
  display: flex;
}
.gray-circle {
  margin-left: 8px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #efefef;
}
.gray-circle:first-child {
  margin-left: 0px;
}
.active-tab {
  background-color: #86868b;
}
